backports.functools-lru-cache==1.4
beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2017.7.27.1
chardet==3.0.4
cli50==1.7.0
cycler==0.10.0
dj-database-url==0.4.2
dj-static==0.0.6
Django==1.8.4
dj-datebase-url==0.3.0
dj-static==0.0.6
django-ranged-response==0.2.0
django-simple-captcha==0.5.6
django-bootstrap3==6.2.2
gunicorn==19.7.1
gyp==0.1
idna==2.6
iSearch==1.0.0
matplotlib==2.1.0
numpy==1.13.3
olefile==0.44
Pillow==4.3.0
psycopg2>=2.6.1
pygal==1.7.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
requests==2.18.4
six==1.11.0
static3==0.7.0
subprocess32==3.2.7
termcolor==1.1.0
urllib3==1.22
